<div class="container page-width">
	<h1>Welcome <%= current_user.full_name %></h1>

	<div>
		<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" id="myquestions" class="active"><a href="">My questions</a></li>
		<li role="presentation" id="myanswers"><a href="">My answers</a>></li>
		</ul>
		<div class="profile-content">

		</div>
	</div>
</div>




